.GiftCard {
    width: 100%;
    height: auto;
    padding: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.GiftCardsContent {
    width: 33.33%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.GiftCardsContent img {
    height: 304px;
    width: 446px
}

.GiftCardsContent h2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    text-align: center;
    font-size: 1.4rem;
    margin-top: 30px;
}

.GiftCardsContent p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    text-align: center;
    justify-content: center;
    margin-top: 8px;
    color: #667085;
}

@media only screen and (max-width:1180px) {
    .GiftCardsContent img {
        width: 332px;
    }
}

@media only screen and (max-width:1155px) {
    .GiftCardsContent img {
        width: 285px;
    }
}

@media only screen and (max-width: 1080px) {
    .GiftCardsContent img {
        width: 308px;
    }
}

@media only screen and (max-width: 1040px) {
    .GiftCardsContent img {
        width: 275px;
    }
}

@media only screen and (max-width: 1024px) {
    .GiftCard {
        gap: 12px;
        padding: 4rem 2rem;
        justify-content: center;
    }
    .GiftCardsContent img {
        width: 303px;
        height: 195px;
    }
    .GiftCardsContent h2 {
        font-size: 1.3rem;
    }
}

@media only screen and (max-width: 912px) {
    .GiftCard {
        padding: 4rem 1rem;
    }
    .GiftCardsContent img {
        width: 270px;
    }
    .GiftCardsContent p {
        font-size: 13.5px;
    }
}

@media only screen and (max-width:820px) {
    .GiftCard {
        gap: 13px;
    }
    .GiftCardsContent img {
        height: 170px;
        width: 200px;
    }
}

@media only screen and (max-width: 768px) {
    .GiftCard {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 40px;
        padding: 0;
        margin-top: 55px;
    }
    .GiftCardsContent {
        width: 60%;
        margin-bottom: 10px;
    }
    .GiftCardsContent img {
        height: 240px;
        margin: 0 auto;
        width: 410px;
    }
}

@media only screen and (max-width:540px) {
    .GiftCardsContent img {
        height: 230px;
    }
}

@media only screen and (max-width:415px) {
    .GiftCardsContent {
        width: 80%;
    }
    .GiftCardsContent img {
        width: 325px;
        margin: 0;
    }
}

@media only screen and (max-width: 280px) {
    .GiftCardsContent {
        height: 247px;
        width: 80%;
    }
    .GiftCardsContent p {
        font-size: 12px;
    }
}