.GiftCard {
    width: 100%;
    height: auto;
    padding: 5rem;
    display: flex;
    flex-direction: row;
}

.GiftCardsContent {
    width: 33.33%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.GiftCardsContent img {
    height: 304px;
    width: 446px
}

.GiftCardsContent h2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    text-align: center;
    font-size: 1.4rem;
    margin-top: 30px;
}

.GiftCardsContent p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    text-align: center;
    justify-content: center;
    margin-top: 8px;
    color: #667085;
}

@media only screen and (max-width:1180px) {
    .GiftCardsContent img {
        width: 332px;
    }
}

@media only screen and (max-width:1155px) {
    .GiftCardsContent img {
        width: 285px;
    }
}

@media only screen and (max-width: 1080px) {
    .GiftCardsContent img {
        width: 308px;
    }
}

@media only screen and (max-width: 1040px) {
    .GiftCardsContent img {
        width: 275px;
    }
}

@media only screen and (max-width: 1024px) {
    .GiftCard {
        gap: 36px;
        justify-content: center;
    }
    .GiftCardsContent img {
        width: 303px;
        height: 195px;
    }
    .GiftCardsContent h2 {
        font-size: 1.3rem;
    }
}

@media only screen and (max-width: 912px) {
    .GiftCardsContent img {
        width: 248px;
    }
}

@media only screen and (max-width:820px) {
    .GiftCard {
        gap: 32px;
    }
    .GiftCardsContent img {
        width: 214px;
    }
}

@media only screen and (max-width: 768px) {
    .GiftCard {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 65px;
        padding: 0;
        margin-top: 55px;
    }
    .GiftCardsContent {
        width: 60%;
        margin-bottom: 10px;
    }
    .GiftCardsContent img {
        width: 100%;
        margin: 0 auto;
    }
}

@media only screen and (max-width:540px) {
    .GiftCardsContent img {
        height: 230px;
    }
}

@media only screen and (max-width: 280px) {}