.MidSec {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 644px;
}

.MidSecTitle {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 30px;
    color: #161C2D;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.MidSecTitle span {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 30px;
    color: #667085;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

button {
    padding: 0.7rem 1.8rem;
    font-size: 1rem;
    cursor: pointer;
    border-radius: .5rem;
}

.midBtn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 12%;
    gap: 10px;
    background-color: blue;
    /*   margin-left: 630px;  */
    margin-top: 10px;
    padding: 10px;
    border: none;
    transition: 0.7s ease;
}

.midBtn a {
    display: flex;
    flex-direction: row;
    font-weight: 400;
    text-decoration: none;
    color: white;
    gap: 12px;
}

.midBtn h3 {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    margin-top: 7px;
    /*  margin-left: 10px;  */
    font-size: 16px;
}

.midBtn:hover,
.midBtn:focus,
.midBtn:active {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

@media (max-width: 768px) {
    .MidSec {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 14px;
        margin-top: 40px;
    }
    .MidSecTitle {
        padding-left: 5px;
        text-align: center;
        margin-bottom: -13px;
    }
    .midBtn {
        width: 20%;
        height: 44px;
    }
    .midBtn img {
        width: 20%;
    }
    .midBtn a {
        gap: 6px;
    }
    .midBtn h3 {
        font-size: 15px;
    }
}

@media (max-width: 1024px) {
    .MidSec {
        gap: 395px;
    }
    .MidSecTitle {
        font-size: 22px;
    }
    .MidSecTitle span {
        font-size: 16px;
    }
    .midBtn {
        width: 16%;
    }
}