    .clientSection {
        display: flex;
        flex-direction: row;
        margin-bottom: 150px;
        margin-top: 150px;
        width: 100%;
        height: auto;
        /* margin-left: 0; */
        /*   margin-right: 0; */
        border: 1px solid #0000001c
        /*box-shadow: 39px 10px 57px rgb(30 65 125 / 16%);*/
    }
    
    .clientSection img {
        width: 16.67%;
        height: auto;
        padding: 14px 63px;
    }
    
    @media (max-width: 768px) {
        .clientSection {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 10px;
            margin-top: 80px;
            margin-bottom: 40px;
        }
        .clientSection img {
            width: 28%;
            height: auto;
            padding: 13px 9px;
        }
    }