.title2Section {
    margin-top: 100px;
}

.title2Section h2 {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    text-align: center;
}

.title2Section p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    text-align: center;
    font-size: 15px;
    color: #667085;
}

@media (min-width: 769px) and (max-width: 1023px) {
    .title2Section {
        margin-top: 70px;
    }
    .title2Section h2 {
        font-size: 22px;
    }
    .title2Section p {
        font-size: 12px;
    }
}